$main: #123;
$secondary: #00887a;
$font: #000;
$note: #6b6e70;
$background: #F7F9FB;
$theme: #F7F9FB;


$main_dark: #86c232;
$secondary_dark: #61892f;
$font_dark: #f7f9fb;
$note_dark: #8e8d8a;
$background_dark: #222629;
$theme_dark: #474B4F;

$bright_yellow: #faed26;
$bright_blue: #77A6F7;

$bright_purple: #cb2d6f;
$dark_purple: #501f3a;

$selected_dark: #f7f9fb;
$unselected_dark: #d5d6d7;
